.post{
     padding: 10px 10px 10px 10px;
     margin: 10px 10px 10px 10px;
     background-color: white;
     border-radius: 15px;
     font-size: 0.9rem;
}

.post-title{
     padding-bottom: 5px;
     font-weight: bold;
}

.post-body{
     font-style: italic;
}

.button-go-comments{
     width: 100%;
     border: none;
     padding: 7px;
     margin: 10px 0px 5px 0px;
     border-radius: 15px;
     background-color: rgb(37, 103, 218);
     font-weight: bold;
     color: white;
     &:hover {
          cursor: pointer;
          background-color: rgb(99, 149, 236);
     }
}